.create {
  form {
    display: grid;
    gap: 20px;
    padding: 0 20px;
    label {
      display: grid;
      textarea {
        min-height: 5rem;
      }
    }
    .btn {
      width: min-content;
      padding: 5px 20px;
      margin: 0 auto;
    }
  }
}